<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<link href="src/styles.css" rel="stylesheet">
		<script src="src/index.js"></script>
	</head>
	<body>
		<div id="sidebar">
			<div id="servers">
				<div id="server" data-server-id="1">
					<img id="server_icon" src="https://cdn.discordapp.com/icons/750705387124031510/a_6914f73e08c724692435d04e13a894c4.gif?size=128">
				</div>
				
				<div id="server" data-server-id="2">
					<img id="server_icon" src="https://cdn.discordapp.com/icons/810436665377947659/a_aeb6ecd71086d9aeba7c4091f962d8b3.gif?size=128">
				</div>
				
				<div id="server" data-server-id="3">
					<img id="server_icon" src="https://cdn.discordapp.com/icons/336499288001478656/5aeb8b9b13d13c046bebb46524b77e29.webp?size=128">
				</div>
			</div>
		</div>
	</body>
</head>